.page {
  display: grid;
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
  padding: 80px;
  gap: var(--space-one);
  font-family: var(--font-geist-sans);
}

.pageItem {
  width: 100%;
}